Kullanıcının girdiği ad, soyad ve yaş bilgilerini tutan bir dictionary oluşturunuz.

* Kullanıcının ad değerini, büyük harfler ile güncelleyiniz.
* Kullanıcının yaş değerine 2 ekleyiniz.
* Dictionary'e kullanıcının en sevdiği rengi ekleyiniz key-value şeklinde ekleyiniz.
* Kullanıcının adını ve soyadını kapsayan yeni bir key-value ekleyiniz.
* Kullanıcının ad değerini dictionary'den kaldırınız.

In [14]:
my_dict= {
"name": input("enter your name: "),
"surname":  input ("enter your surname: "),
"age": int(input("enter your age: "))
}
print(my_dict)

#soru1
my_dict.update({"name": my_dict["name"].upper()})

{'name': 'mel', 'surname': 'bk', 'age': 3}

In [12]:
my_dict.update({"age": my_dict["age"]+2})

In [8]:
my_dict["color"] = "blue"
print(my_dict)
# my_dict["color"] = "blue"
# print(my_dict)

{'name': 'MELISA', 'surname': 'büyükköprü', 'age': 46, 'color': 'blue'}

In [16]:
my_dict["name"] = my_dict["name"] + my_dict["surname"]
print(my_dict)

{'name': 'MELbk', 'surname': 'bk', 'age': 3}

In [18]:
del my_dict["name"] + del my_dict["surname"]

SyntaxError: invalid syntax (639278068.py, line 1)

In [20]:
my_dict.pop("name")
print (my_dict)

{'surname': 'bk', 'age': 3}

Kullanıcının verdiği aralığa göre, key değerleri o anki sayı, value değerleri o anki sayının karesi olan bir dictionary oluşturunuz.

Örnek olarak, kullanıcı aralık olarak 2 ve 7 girmiş olsun. Bizden beklenen dictionary şu şekilde olmalıdır;

{2: 4, 3: 9, 4: 16, 5: 25, 6:36, 7:49}

In [ ]:
def func(start, end):
    keys =[]
    values = []
    for i in range(start, end+1):
        keys.append(i)
    for j in range(start, end+1):
        values.append(j**2)
    dict_ = dict(zip(keys,values))
        
    return dict_

start = int(input("baslangic degeri giriniz: "))
end = int(input("bitis degeri giriniz: "))
func(start, end)

Aşağıda verilen liste ile istenilen işlemleri yapınız.

Yaşı 20'den büyük olanları ekrana yazdırınız.
Adı 'A' ile başlayanları ekrana yazdırınız.
Soyadı 'J' ile başlayanları ekrana yazdırınız.
Adı 'C' ile soyadı 'A' ile başlayanları ekrana yazdırınız.
Adının içinde 'A' ahrfi geçenleri ekrana yazdırınız.
Yaşı tek sayı olanları ekrana yazdırınız.
Kullanının yaşını, (kullanıcının yaşı + kullanıcının soyadının uzunluğu) şeklinde güncelleyiniz.
Kullanıcının adını ve soyadını içeren FullName adında yeni bir key-value pair oluşturunuz.
myUsers = [
    {
        "Name":"Rosalind",
        "Surname": "Rich",
        "Age": 23
    }
    ,{
        "Name":"Annika",
        "Surname": "Keenan",
        "Age": 28
    }
    ,{
        "Name":"Emillie",
        "Surname": "Plummer",
        "Age": 17
    }
    ,{
        "Name":"Kourtney",
        "Surname": "Pate",
        "Age": 30
    }
    ,{
        "Name":"Virgil",
        "Surname": "Solomon",
        "Age": 40
    }
    ,{
        "Name":"Bobby",
        "Surname": "Jordan",
        "Age":33
    }
    ,{
        "Name":"Alfie",
        "Surname":"James Robson",
        "Age": 16
    } 
    ,{
        "Name":"Isla",
        "Surname":"Grace Tran",
        "Age": 64
    } 
    ,{
        "Name":"Arif",
        "Surname": "Rivas",
        "Age": 43
    }
    ,{
        "Name":"Zakaria",
        "Surname": "Whitehead",
        "Age": 82
    }
    ,{
        "Name":"Casper",
        "Surname": "Velasquez",
        "Age": 57
    }
    ,{
        "Name":"Caoimhe",
        "Surname": "Ali",
        "Age": 34
    }
    ,{
        "Name":"Viola",
        "Surname": "Shepherd",
        "Age": 18
    }
]

In [23]:
myUsers = [
    {
        "Name":"Rosalind",
        "Surname": "Rich",
        "Age": 23
    }
    ,{
        "Name":"Annika",
        "Surname": "Keenan",
        "Age": 28
    }
    ,{
        "Name":"Emillie",
        "Surname": "Plummer",
        "Age": 17
    }
    ,{
        "Name":"Kourtney",
        "Surname": "Pate",
        "Age": 30
    }
    ,{
        "Name":"Virgil",
        "Surname": "Solomon",
        "Age": 40
    }
    ,{
        "Name":"Bobby",
        "Surname": "Jordan",
        "Age":33
    }
    ,{
        "Name":"Alfie",
        "Surname":"James Robson",
        "Age": 16
    } 
    ,{
        "Name":"Isla",
        "Surname":"Grace Tran",
        "Age": 64
    } 
    ,{
        "Name":"Arif",
        "Surname": "Rivas",
        "Age": 43
    }
    ,{
        "Name":"Zakaria",
        "Surname": "Whitehead",
        "Age": 82
    }
    ,{
        "Name":"Casper",
        "Surname": "Velasquez",
        "Age": 57
    }
    ,{
        "Name":"Caoimhe",
        "Surname": "Ali",
        "Age": 34
    }
    ,{
        "Name":"Viola",
        "Surname": "Shepherd",
        "Age": 18
    }
]

In [25]:
print(list(filter(lambda user: user ["Age"] > 20, myUsers)))

[{'Name': 'Rosalind', 'Surname': 'Rich', 'Age': 23}, {'Name': 'Annika', 'Surname': 'Keenan', 'Age': 28}, {'Name': 'Kourtney', 'Surname': 'Pate', 'Age': 30}, {'Name': 'Virgil', 'Surname': 'Solomon', 'Age': 40}, {'Name': 'Bobby', 'Surname': 'Jordan', 'Age': 33}, {'Name': 'Isla', 'Surname': 'Grace Tran', 'Age': 64}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 43}, {'Name': 'Zakaria', 'Surname': 'Whitehead', 'Age': 82}, {'Name': 'Casper', 'Surname': 'Velasquez', 'Age': 57}, {'Name': 'Caoimhe', 'Surname': 'Ali', 'Age': 34}]

In [26]:
print(list(filter(lambda user: user ["Name"][0]== "A", myUsers)))
# print(list(filter(lambda user: user ["Name"].startswith== "A", myUsers)))

[{'Name': 'Annika', 'Surname': 'Keenan', 'Age': 28}, {'Name': 'Alfie', 'Surname': 'James Robson', 'Age': 16}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 43}]

In [28]:
print(list(filter(lambda user: user["Surname"].upper().startswith('J') , myUsers)))

[{'Name': 'Bobby', 'Surname': 'Jordan', 'Age': 33}, {'Name': 'Alfie', 'Surname': 'James Robson', 'Age': 16}]

In [29]:
def myFilterFunction(user):
    return user ["surname"].upper().startswith('J') 
print(list(filter (myFilterFunction,myUsers)))

KeyError: 'surname'

In [31]:
print(list(filter(lambda user: user["Name"].upper().startswith('C') and user["Surname"].upper().startswith('A'))))

TypeError: filter expected 2 arguments, got 1

In [34]:
print(list(filter(lambda user: 'a' in user["Name"].lower(), myUsers)))

[{'Name': 'Rosalind', 'Surname': 'Rich', 'Age': 23}, {'Name': 'Annika', 'Surname': 'Keenan', 'Age': 28}, {'Name': 'Alfie', 'Surname': 'James Robson', 'Age': 16}, {'Name': 'Isla', 'Surname': 'Grace Tran', 'Age': 64}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 43}, {'Name': 'Zakaria', 'Surname': 'Whitehead', 'Age': 82}, {'Name': 'Casper', 'Surname': 'Velasquez', 'Age': 57}, {'Name': 'Caoimhe', 'Surname': 'Ali', 'Age': 34}, {'Name': 'Viola', 'Surname': 'Shepherd', 'Age': 18}]

In [36]:
print(list(filter(lambda user: user["Age"] % 2 != 0, myUsers)))

[{'Name': 'Rosalind', 'Surname': 'Rich', 'Age': 23}, {'Name': 'Emillie', 'Surname': 'Plummer', 'Age': 17}, {'Name': 'Bobby', 'Surname': 'Jordan', 'Age': 33}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 43}, {'Name': 'Casper', 'Surname': 'Velasquez', 'Age': 57}]

In [ ]:
my.Users.update()=

Kullanıcıdan alınan string ifadedeki karakterlerin kaç kere tekrar ettiğini tutan bir dictionary oluşturunuz.

sisterslab için örnek çıktı şu şekilde olmalıdır

{'s': 3, 'r': 1, 'e': 1, 'l': 1, 'b': 1, 't': 1, 'a': 1, 'i': 1}

In [ ]:
userInput = input()

characterCountDict = {}

for character in userInput:
  if character in characterCountDict:
    characterCountDict[character] += 1
  else:
    characterCountDict[character] = 1

print(characterCountDict)